<section class="search">
  <h2 [hidden]="true">Search images</h2>
  <div class="search-panel">
    <app-slide-toggle
      (onToggle)="onToggle($event)"
      [toggleTitle]="isImages ? 'images' : 'videos'"
    ></app-slide-toggle>
    <div class="select-wrapper">
      <app-select
        [title]="'Choose category'"
        [controller]="optionsControl"
        [options]="options"
        [isMultiSelector]="isMultiSelector"
      ></app-select>
    </div>

    <div class="controller">
      <app-search-control
        (clearInput)="clearInput()"
        [searchControl]="searchControl"
      ></app-search-control>
    </div>
  </div>
  <ng-container *ngIf="media$ | async as media">
    <p class="subtitle" *ngIf="media.length === 0">
      No images found. Try a different search term.
    </p>

    <app-media-list [media]="media ?? []"></app-media-list>
  </ng-container>
  <div class="search-bg" *ngIf="(totalLength$ | async) === 0"></div>

  <ng-container *ngIf="totalLength$ | async as total">
    <div class="pagination-wrapper" *ngIf="total > 10">
      <app-pagination
        [totalLength]="total"
        (onPageEvent)="handlePageEvent($event)"
      ></app-pagination>
    </div>
  </ng-container>
</section>
