<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li
        class="nav-item"
        *ngFor="let route of routes"
        [routerLink]="route.route"
        routerLinkActive="active"
      >
        {{ route.name }}
      </li>
    </ul>
    <ul class="auth-nav-list" *ngIf="!isAuth">
      <li
        routerLink="auth/login"
        routerLinkActive="active"
        class="auth-nav-item"
      >
        login
      </li>
      /
      <li
        routerLink="auth/signup"
        routerLinkActive="active"
        class="auth-nav-item"
      >
        sign up
      </li>
    </ul>
  </nav>
</header>
