.home {
  padding: 1rem 0.5rem;

  @media screen and (min-width: 768px) {
    padding: 2rem 1rem;
  }
}
.pagination-wrapper {
  padding: 1rem 0;

  display: flex;
  justify-content: center;
}
.list-wrapper {
  margin: 0 auto;
}
.category-wrapper {
  padding: 0.5rem;
  gap: 1rem;
  max-width: 500px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
