<div class="image-card">
  <img [src]="image.largeImageURL" alt="Image" class="image-card__image" />
  <div class="image-card__details">
    <h3 class="image-card__tags">
      Tags:
      <span *ngFor="let tag of image.tags" class="image-card__tag">{{
        tag
      }}</span>
    </h3>
    <div class="image-card__stats">
      <div class="stat">
        <span class="stat__label">Likes:</span>
        <span class="stat__value">{{ image.likes }}</span>
      </div>
      <div class="stat">
        <span class="stat__label">Comments:</span>
        <span class="stat__value">{{ image.comments }}</span>
      </div>
      <div class="stat">
        <span class="stat__label">Downloads:</span>
        <span class="stat__value">{{ image.downloads }}</span>
      </div>
    </div>
  </div>
</div>
